<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>

      {% for hotel in hotels %}
      <div class="card my-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ hotel.image }}" class="img-fluid rounded-start" alt="{{ hotel.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ hotel.name }}</h5>
              <p class="card-text">位置:{{ hotel.location }}</p>
               <p class="card-text">联系电话：{{ hotel.call }}</p>
              <p class="card-text">酒店档次：{{ hotel.grade }}</p>
              <button id="{{ hotel.area_name }}+{{hotel.name}}" class="details-button">查看详情</button>
          <div>

          </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
    <script>
       const buttons = document.querySelectorAll('.details-button');
       buttons.forEach(button => {
          button.addEventListener('click', () => {
              window.location.href = `/hotel_details/${button.id}`;
    });
  });
      // 获取所有点赞按钮和点赞数量元素的引用
  const likeButtons = document.querySelectorAll('.like-button');
  const likeCounts = document.querySelectorAll('.like-count');

  // 为每个点赞按钮添加点击事件处理函数
  likeButtons.forEach(button => {
    button.addEventListener('click', async () => {
      const response = await fetch('/api/hotel_like', {
        method: 'POST',
        body: JSON.stringify({ id: button.dataset.id }),
        headers: { 'Content-Type': 'application/json' }
      });
      const postId = button.dataset.id;
      const data = await response.json();
      const countEl = likeCounts.find(el => el.previousElementSibling.dataset.id === button.dataset.id);
      countEl.textContent = data.count;
    });
  });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.3/lib/popper.min.js"
        integrity="sha384-PUGx6BmXf/ebn4OgkoXy9x1kQPPO0NjB6yXlKAPZzWbJ0iGnFwq/kEeM3+QVI5t/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>