<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>南京旅游攻略线路2</title>
    <style>
    body {
      margin: 0;
      padding: 0;
    }

    .header {
      background-color: lightblue;
      text-align: center;
      padding: 20px;
    }

    h1 {
      margin: 0;
      color: white;
    }
    p {
    max-width: 700px; /* 限制最大宽度 */
    margin: 0 auto; /* 水平居中 */
    text-indent: 2em; /* 设置首行缩进 */
    margin: 0 auto 1em;
     }
     h2 {
    max-width: 700px; /* 限制最大宽度 */
    margin: 0 auto; /* 水平居中 */
    margin: 0 auto 1em;
     }
    .content {
      text-align: center; /* 居中文本 */
      max-width: 1200px; /* 限制最大宽度 */
      margin: 0 auto; /* 水平居中 */
    }
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }

    .image-container img {
      max-width: 600px;
      max-height: 400px;
      object-fit: cover;
    }
    .tips_box {
      background-color: #FDF5E6; /* 设置淡黄色的背景色，颜色代码或名称 */
      border-radius: 10px; /* 设置边框的圆角半径，值越大则圆角越大 */
      padding: 20px; /* 设置内边距，以使内容与边框之间有一定间距 */
      width: 500px;
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 垂直居中 */
      margin-left: 500px;
    }
  </style>
</head>
<body>
  <div class="header">
  <h1>没预算的有时间的宝子们看过来！这份南京四天三晚奢华深度游收藏点起来！</h1>
      <h1>作者：前国企建筑设计师蔡蔡</h1>
  </div>

  <div class="cotent">
    <h2>DAY 1: 入住南京丽思卡尔顿酒店</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_1.jpg?raw=true" alt="南京丽思图片1">
      </div>
      <div class="image-container">
        <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_2.jpg?raw=true" alt="南京丽思图片2">
      </div>
      <div class="image-container">
        <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_3.jpg?raw=true" alt="南京丽思图片3">
      </div>
      <div class="image-container">
        <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_4.jpg?raw=true" alt="南京丽思图片4">
      </div>
    <p>这个应该是新街口商圈最好的酒店，硬件设施好软件更好，尤其是服务从到达酒店门童到前台态度好细致入微周到，房间内可以看到南京的紫峰大夏、交通很方便出门就是德基二期地铁1号线3站到玄武湖，前台美女经理接待我们入住的人美心更美工作细致入微！我们这次入住非常满意！</p>
    <div class="tips_box">
        <p>TIPS:他家双人行政礼遇也就1000不到，强烈推荐入手！</p>
    </div>

    <h2>新街口</h2>
    <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_5.jpg?raw=true" alt="南京新街口图片">
      </div>
    <p>酒店楼下就是新街口，是来南京必打卡之地，以前是，现在是，相信以后也是，看着每次来南京，新街口的变化有目共睹，从最早的金陵饭店，到现在的德基广场，摩天大楼越来越多，夜景越来越美，唯一不变的是孙中山铜像仍屹立在十字路口的中央，保佑着南京这座六朝古都的美丽城市。</p>
        <div class="tips_box">
            <p>TIPS:德基是这个商圈里最高端的商场，金鹰、新百、大洋紧随其后。</p>
        </div>

    <h2>夫子庙</h2>
    <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_6.jpg?raw=true" alt="南京夫子庙图片1">
    </div>
    <div class="image-container">
      <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_7.jpg?raw=true" alt="南京夫子庙图片2">
      </div>
    <p>晚饭之后打车去了夫子庙，到南京来的游人，想必第一站大多是来秦淮河畔。“烟笼寒水月笼沙，夜泊秦淮近酒家”，杜牧的诗穿过几百年的岁月，如今的秦淮河畔，灯火通明堪比白昼，盛世之下的江南，不会再有商女吟唱了。</p>
        <div class="tips_box">
            <p>TIPS:夫子庙的“南京土特产”都是骗外地人的。</p>
        </div>

    <h2>老门东</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_8.jpg?raw=true" alt="南京老门东图片">
      </div>
      <p>老门东位于南京市秦淮区中华门以东，故称“门东”，与老门西相对，是南京夫子庙秦淮风光带的重要组成部分。门东是南京传统民居聚集地，随着时光流逝，这里也慢慢成了老破小聚集的棚户区。随着政府改造工程的完成，这里变成了南京的一张名片，集餐饮、商铺、休闲娱乐观光为一体。吃完饭后来逛逛还是不错的！</p>
        <div class="tips_box">
            <p>TIPS:南京老门东的店铺都挺有特色的，感觉来喝下午茶很有氛围</p>
        </div>

    <h2>DAY 2:总统府</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_9.jpg?raw=true" alt="南京总统府图片">
      </div>
    <p>南京总统府，位于江苏省南京市玄武区，是中国近代建筑遗存中规模最大、保存最完整的建筑群，也是南京民国建筑的主要代表。这里既有中国古代传统的江南园林，也有近代西风东渐时期的建筑遗存。</p>
    <p>1912年1月1日，孙中山在此宣誓就职中华民国临时大总统，辟为大总统府，后来又为南京国民政府总统府。如今，总统府是全国重点文物保护单位、国家4A级旅游景区。告别熙熙攘攘的秦淮河，我来到了位于长江路292号的总统府。</p>
        <div class="tips_box">
            <p>TIPS:早去总统府不用排队！</p>
        </div>

     <h2>玄武湖</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_10.jpg?raw=true" alt="南京玄武湖图片">
      </div>
        <p>沿着鸡鸣寺北门出来下坡左转，就到了玄武湖的解放门。玄武湖蛮大的，据说古代曾用来操练水军。我去的时候，听一个南京当地的司机说，从前玄武湖公园是收费的。但是后来国内的大部分公园都不收费了，玄武湖才慢腾腾的改成了免费。</p>
        <p>但是据说原来公园有四个路口，现在给改成了只有一处，所以这地方天天堵车。这段话难辨真假，也可能是我们去的时候是工作日的非高峰期，也体会不到。玄武湖上有几个小岛（称为洲），因为时间的关系，我们没有上岛游玩，就租了个电动船在湖里游览了一周。</p>
        <p>费用是六人的电动船，140/小时，押金两百块（现金）。也许因为天气炎热，湖面上没有太多的风，电动船也比较慢，所以夏天这个季节去游玩的体验确实并不太好。</p>
        <div class="tips_box">
            <p>TIPS:晚上来玄武湖也行！</p>
        </div>

      <h2>南京长江大桥</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_11.jpg?raw=true" alt="南京长江大桥图片">
      </div>
      <p>南京长江大桥是南京市的标志性建筑，横跨长江之上，南端在鼓楼区，北端在浦口区，建于20世纪60年代。大桥未建造前，旅客过江只能靠摆渡船，火车得靠车轮渡。1968年通行后，为南北两岸的交通带来了很大的方便。</p>
      <div class="tips_box">
          <p>TIPS:我个人是桥梁设计工作者，所以这种圣地肯定是要来打卡的。</p>
      </div>

      <h2>DAY 3:入住南京银城皇冠假日酒店</h2>
       <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_12.jpg?raw=true" alt="南京皇冠假日图片">
      </div>
      <div class="tips_box">
          <p>TIPS:退房后，来江宁区这边住，这样下面玩景点也更方便一点，酒店质量还是不错的，服务热情，就是硬件有点老化了。</p>
      </div>

      <h2>雨花台</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_13.jpg?raw=true" alt="南京雨花台图片">
      </div>
          <p>我最早对南京雨花台烈士陵园产生向往，还是源于那组气势恢宏的雕塑曾经登上中学时期的历史课本封面。在这里完全应该播放八一电影制片厂的主题曲啊！雨花台烈士陵园位于南京市雨花台区雨花台丘陵中岗，是新中国规模最大的纪念性陵园。属于4A级旅游景区。</p>
          <p>在雨花台留下姓名的烈士就有1519名，他们的事迹展示了共产党人崇高的理想信念、高尚道德情操、为民牺牲的大无畏精神。</p>
        <div class="tips_box">
            <p>TIPS:参观这种场合可不能嘻嘻哈哈！</p>
        </div>

     <h2>牛首山</h2>
     <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_14.jpg?raw=true" alt="南京牛首山图片1">
     </div>
     <div class="image-container">
       <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_15.jpg?raw=true" alt="南京牛首山图片2">
      </div>
      <p>提前预约好后，刷身份证入园，在入口有牛首山的游玩地图，可以免费拿。我是周一去的，人比较少，而且天气凉爽，适合爬山！从东门进入第一个景点就是佛顶前院，说白了就是一个小池塘，里面可以喂喂金鱼。</p>
      <p>进了景区之后，不用害怕迷路，因为有指示牌和各种各样的路标，这一点，牛首山景区做的特别好！之后，过了一座桥之后，到达了佛顶寺，里面可以烧香拜佛，还有牛首山相关的书籍免费赠送，包括佛经、牛山诗词三百首、牛首山的前世今生。</p>
      <p>过了佛顶寺之后，下面重点来了，我们的目的地时山顶的佛顶宫，从佛顶寺到佛顶宫约2km,这时候您可以搭乘景区的车到达佛顶宫，费用10元钱。但是我还是建议你，上山的时候爬上去，下山的时候在选择乘车下山。</p>
      <p>到达佛顶宫之后，开始进去，会看到一尊大卧佛于中间，周二到周日会有大型表演，所以千万不要周一去！（欲哭无泪啊！），然后乘坐电梯来到地下4层和5层，这才是放佛祖舍利子的地方。</p>
        <div class="tips_box">
            <p>TIPS:我特地记下了文化演出时间：每周一停演；周二至周末——禅境大观《如莲佛颂》：10:00-10:30；14:00-14:30千佛殿《传灯祈福》11:00-11:15;12:00-12:15;15:00-15:15;16:00-16:15</p>
        </div>

      <h2>DAY 4:无想山</h2>
       <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_16.jpg?raw=true" alt="南京无想山图片1">
       </div>
       <div class="image-container">
         <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r2_image/r2_17.jpg?raw=true" alt="南京无想山图片2">
      </div>
         <p>最后一天去溧水无想山玩玩，以前来南京都没来过这里，长期伏案工作让我太劳累了，还是这种原始点的山林可以让我感受久违的清净啊。</p>
      <div class="tips_box">
          <p>TIPS:这么远还是坐地铁S3吧，想清净来这准行。</p>
      </div>

      <h2>花间堂</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/hotel/hotel_image/LS01_1.jpg?raw=true" alt="南京花间堂图片">
      </div>
        <div class="tips_box">
            <p>TIPS:路过这家酒店看上去不错</p>
        </div>

  </div>
</body>
</html>