<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>南京旅游攻略线路1</title>
    <style>
    body {
      margin: 0;
      padding: 0;
    }

    .header {
      background-color: lightblue;
      text-align: center;
      padding: 20px;
    }

    h1 {
      margin: 0;
      color: white;
    }
    p {
    max-width: 700px; /* 限制最大宽度 */
    margin: 0 auto; /* 水平居中 */
    text-indent: 2em; /* 设置首行缩进 */
    margin: 0 auto 1em;
     }
     h2 {
    max-width: 700px; /* 限制最大宽度 */
    margin: 0 auto; /* 水平居中 */
    margin: 0 auto 1em;
     }
    .content {
      text-align: center; /* 居中文本 */
      max-width: 1200px; /* 限制最大宽度 */
      margin: 0 auto; /* 水平居中 */
    }
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }

    .image-container img {
      max-width: 600px;
      max-height: 400px;
      object-fit: cover;
    }
    .tips_box {
      background-color: #FDF5E6; /* 设置淡黄色的背景色，颜色代码或名称 */
      border-radius: 10px; /* 设置边框的圆角半径，值越大则圆角越大 */
      padding: 20px; /* 设置内边距，以使内容与边框之间有一定间距 */
      width: 500px;
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 垂直居中 */
      margin-left: 500px;
    }
  </style>
</head>
<body>
  <div class="header">
  <h1>去南京有这份攻略就够啦！南京三天两晚游，跟着这份攻略走准没错儿！</h1>
      <h1>作者：带你玩转南京的小彭</h1>
  </div>

  <div class="cotent">
    <h2>DAY 1: 南京博物院</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_1.jpg?raw=true" alt="南京博物院图片">
      </div>
    <p>南京博物院，与北京故宫博物院、台北故宫博物院，并称中国三大博物院。是在原明南京皇宫基础上建立的，包括历史馆、特展馆、数字馆、艺术馆和民国馆等。</p>
    <p>我最喜欢的是历史馆。历史馆从远古化石、旧石器时代、新时期时代、夏商周等历朝历代根据时间推进展列，可以看到化石、打磨工具、陶罐、青铜器、瓷器、金饰品等，具有鲜明的时代特征，对历史进程可见一斑。去南京玩非常值得推荐，特别是有孩子的家庭。</p>
    <div class="tips_box">
        <p>TIPS:南京故宫博物院，需要事先通过官网预约，参观时间从9:00-17:00，周一闭馆。</p>
    </div>

    <h2>总统府</h2>
    <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_2.jpg?raw=true" alt="南京总统府图片">
      </div>
    <p>南京总统府就在南京博物院隔壁两个地铁站，坐上2号线一会就到了。南京总统府在南京市玄武区长江路上，是中国近代建筑中保存比较完整，规模也相对比较大的建筑，是南京民国建筑的最为著名主要代表，很有历史代表性的地方。</p>
    <p>南京总统府多次成为中国政治军事等重大事件的策划源头。很多重要人物都在此活动过。南京总统府已经有600多年的历史，明朝初就有此建筑。1912年1月1日，孙中山在此宣誓就职中华民国临时大总统，这之后就成为南京总统府。南京总统府有着不同风格的建筑，既有中国古代传统的园林建筑，又有近代西方的建筑特点。</p>
    <p>总统府分三个区域：中区主要总统府及所属机构，西区有孙中山临时大总统办公室，花园园林等；东区主要有行政院，花园等。</p>
        <div class="tips_box">
            <p>TIPS:这里开放时间每天8:30～17:00（每周一全天闭馆）。可以网上买票，带个人身份证可以进入。</p>
        </div>

    <h2>科巷</h2>
    <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_3.jpg?raw=true" alt="南京科巷图片">
      </div>
    <p>来南京不去科巷逛逛，你可亏大了！这里的美食可以让我们瞬间打起精神，没有什么是一顿美味解决不了的！南京土著推荐打卡：许阿姨糕团，习师傅馅饼，福印凉皮...</p>
        <div class="tips_box">
            <p>TIPS:科巷人很多哦，很多要早早排队哦。</p>
        </div>

    <h2>夫子庙</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_4.jpg?raw=true" alt="南京夫子庙图片">
      </div>
      <p>南京最热闹的地方在哪里，一定是夫子庙，好比上海的城隍庙。夫子庙不仅自身有悠久历史，而且门前就是融合了秦准河的浪漫，是来南京旅游必打卡的地方！</p>
        <div class="tips_box">
            <p>TIPS:南京夫子庙一定要参观江南贡院，晚上18点就会关门。游船可坐可不坐，元宵中秋特殊节日还有灯会！</p>
        </div>

    <h2>老门东</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_5.jpg?raw=true" alt="南京老门东图片">
      </div>
      <p>老门东，位于南京市秦淮区中华门以东，因地处南京京城南门（即中华门）以东，故称“门东”，是南京夫子庙秦淮风光带的重要组成部分。门东是南京传统民居聚集地，自古就是商贾云集、人文荟萃、世家大族居住之地。</p>
    <p>如今的老门东历史文化街区主要指这一带的古民居观光、商业街区。是AAAAA级的夫子庙秦淮河景区一部分，颇有老南京古风，也是去南京的必逛景区，就在夫子庙隔壁啦。</p>
      <div class="tips_box">
          <p>TIPS:老门东内美食也很多哦，晚餐可以不用吃太饱的。</p>
      </div>

    <h2>南京大牌档贡院街店</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_6.jpg?raw=true" alt="南京大牌档图片">
      </div>
          <div class="tips_box">
              <p>TIPS:南京必吃榜上赫赫有名的店，推荐他家的江米扣肉、赤豆小元宵、盐水鸭、花雕醉蟹。</p>
          </div>

      <h2>宜必思酒店南京夫子庙店</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/hotel/hotel_image/QH02_1.jpg?raw=true" alt="宜必思图片">
      </div>
          <p>我们晚上入住的这家酒店，前台还热情地给我们倒上鸡尾酒，房间干净整洁，想看更多酒店信息点标题就行啦</p>

    <h2>DAY 2:玄武湖</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_7.jpg?raw=true" alt="南京玄武湖图片">
      </div>    <p>一大早起床我们就去了玄武湖，蓝天白云下的玄武湖美的令人沉醉，令人忘却一切。没想到静下心来欣赏这玄武湖竟是这般美丽而动人！如此之景，怎能不生欢喜之心呢？</p>
    <p>其实，这座玄武湖自南京建都以来就是都城一座重要的景区了，其实力可以追溯到六朝时期了。其景色很优美的，尤其是在夏季的时候，满湖都是色香俱全的荷花，因此夏季来此游玩是特别好的，非常推荐夏季来此！</p>
        <div class="tips_box">
            <p>TIPS:晚上来玄武湖也不错哦！</p>
        </div>

     <h2>大报恩寺</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_8.jpg?raw=true" alt="南京大报恩寺图片">
      </div>    <p>买门票时觉得有点小贵，游览后定觉不虚此行。此景区是遗址保护展示与博物馆文物陈列有机结合，加上美轮美奂的佛文化及报父母恩传统美德的场景相结合，应该是老少皆宜，知识性与趣味性相得益彰。</p>
        <div class="tips_box">
            <p>TIPS:宝子们可以看看有没有免费开放的特殊日期，那个时候来也不错哦！</p>
        </div>

      <h2>牛首山</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_9.jpg?raw=true" alt="南京牛首山图片">
      </div>
      <p>去景区的交通不方便，地铁还没开通，景区内的交通比较方便，10块钱的交通车，然后有自动扶梯上山，省时省力，非常好，佛顶宫挺振撼的，金壁辉煌，美轮美奂。</p>
      <div class="tips_box">
          <p>TIPS:交通车一定要坐！省时省力。</p>
      </div>

      <h2>南京新百回味鸭血粉丝汤</h2>
    <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_10.jpg?raw=true" alt="南京鸭血粉丝汤图片">
      </div>
      <div class="tips_box">
          <p>TIPS:一家南京经典的小吃店，他家鸭血粉丝汤和汤包都很经典。</p>
      </div>

      <h2>汉庭优佳酒店南京玄武门店</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/hotel/hotel_image/XW02_1.jpg?raw=true" alt="汉庭优佳图片">
      </div>
          <p>推荐你们入住这家酒店，新模范马路地铁站一出来就到啦</p>


      <h2>DAY 3:钟山风景区</h2>
       <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_11.jpg?raw=true" alt="南京钟山图片">
      </div>
    <p>由于中山陵免票但实行限流分时段预约，出发前便在网上约好入园时间在十点半至十二点半期间，所以一大早就从酒店出发导航骑行至中山陵的入口处。</p>
    <p>带着行李骑到入口有些累，便在小亭子处稍稍休息了一下，吃了点小零食，便继续向前参观中山陵了，中山陵门前有一小段路是不允许车辆进入所以还是要徒步一小段路。</p>
    <p>中山陵入口处是钟山风景区游客中心，可以寄存行李10元一次，存好行李刷身份证入园，怀着尊敬的心参观完孙中山先生的陵墓就走啦。</p>
      <div class="tips_box">
          <p>TIPS:爬上中山陵回头看风景不错的哦！</p>
      </div>

      <h2>侵华日军南京大屠杀遇难同胞纪念馆</h2>
      <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_12.jpg?raw=true" alt="南京纪念馆图片">
      </div>
    <p>侵华日军南京大屠杀遇难同胞纪念馆，是中国南京市人民政府为铭记1937年12月13日日军攻占南京后制造的南京大屠杀事件而筹建，位于南京城西江东门茶亭东街原日军大屠杀遗址之一的万人坑，1985年8月15日落成开放。该馆保持原地形地貌，建筑成一座纪念性的墓冢。</p>
    <p>纪念馆存在的意义，一方面让我们通过这段血淋淋的历史让我们知道落后就要挨打，只有祖国强盛了人民才能过上幸福的生活，另一方面也教育大家前事不忘后事之师，历史需要铭记。</p>
    <p>但是仇恨不应该延续，我们要珍爱今日的和平，牢记老一辈无产阶级革命家的理想信念，努力学习，认真工作，做最好的自己，实现自我价值！</p>
        <div class="tips_box">
            <p>TIPS:记得网上公众号提前预约避免到场无票！</p>
        </div>

     <h2>绿茶（河西万达店）</h2>
     <div class="image-container">
          <img src="https://github.com/xhuashen/database_design/blob/main/tour_route/r1_image/r1_13.jpg?raw=true" alt="南京绿茶图片">
      </div>
        <div class="tips_box">
            <p>TIPS:三天两晚行程很快结束，来到这家绿茶餐厅吃点美食放松下就去南京南站啦，推荐他家绿茶烤肉、烧鸡、面包诱惑哦。</p>
        </div>
  </div>
</body>
</html>